@charset "UTF-8";
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
	color:  #66bbff;
	text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

.container {
    margin-top: 100px;
    padding: 0 100px;
}

.box {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.button {
	text-decoration: none;
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
}

.button:hover {
    background-color: #559ed6;
}

form {
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	margin: 0 auto;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	text-align: left;
}

label {
	margin-bottom: 5px;
	font-weight: bold;
}

.input-form {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #559ed6;
	width: 100%;
	box-sizing: border-box;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
}

.table thead {
    background-color: #66bbff;
    color: #fff;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.table td {
    color: #333;
}


